<!DOCTYPE html>
<html 
 lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <head>
<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	

	<!-- Bootstrap core CSS -->
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	
	
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"   >
	
	

  </head>
  

<body>




<header>
	<div class="card-body">


 		 	<div class="card-header ">

  				 <h1 class="card-titlebg-success">Sistema de Boletim Administrativo</h1>
  			</div>

	</div>

	<div class="card-body">

  				 <h5 class="card-header ">Cadasto de acesso de usuários do Sistema - Inclusão</h5>				
	</div>

</header>

 


 		
  <form th:action= "@{/permissao/salvar}"   th:object="${permissao}" method="POST">
 <div class="card-body ">
 		<div class="card border rounded-3" >
 


<div class="form-row col-md-8">
            

		<div class="form-group col-md-2 ">	 
 			<label for ="num_ponto_usuario" >Ponto</label>
			<input type="text" class="form-control"  id = "num_ponto_usuario" readonly th:field="*{usuario.num_ponto_usuario}"  />
		</div>

 		 <div class="form-group col-md-6 mx-sm-2">	                	                               
			<label for="nom_usuario">Nome</label>
			<input type="text" class="form-control" readonly id="nom_usuario" th:field="*{usuario.nom_usuario}" />
		</div>
		


</div> 

 

</div>
</div>

 <div class="card-body   mb-3  ">
 		<div class="card border rounded-3" >
 


<div class="form-row col-md-10">
            
	<div class="form-group col-md-4 ">	 

		<label for="perfil">Perfil</label>
		<select id="perfil" class="form-control " th:field="*{perfil}">                        
		<option th:each="perfil: ${perfis}" 
		th:value="${perfil.ide_objeto}" th:text="${perfil.nom_perfil}"></option>
		</select>
	</div>


		<div class="form-group col-md-6 ">	 

		<label for="unidade">Unidade</label>
		<select id="unidade" class="form-control " th:field="*{unidade}">                        
		<option th:each="unidade: ${unidades}" 
		th:value="${unidade.ide_objeto}" th:text="${unidade.nom_unidade_camara}"></option>
		</select>
	</div>
			


</div> 

 

</div>
</div>



<div class="form-row col-md-8">
            

 <input type="hidden" id="id" th:field="*{ide_objeto}"/>
  <input type="hidden" id="ide_usuario" th:field="*{usuario.ide_objeto}"/>

</div>
 <div class="card-body   col-mb-2">
  <button type="submit" class="btn btn-primary btn-lg col-md-1">Salvar</button>

 		 <a th:href="@{/permissao/listar}" class="btn  btn-outline-success  btn-lg active col-md-1">Voltar</a>

</div>
  
 
 
 
              
 </form> 

 


<div class="card-footer text-muted/">
</div>
		

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">	
$(document).ready(function(){
	  
    $("p").on("click", function(){
        //comandos a serem executados
    });
});
</script>	
	
</body>
</html>			